         
         
 <!-- share link -->
          <div class="flex-it share-tag">
            <div class="social-link">
              <h4>Share it</h4>
              <a href="#"><i class="ion-social-facebook"></i></a>
              <a href="#"><i class="ion-social-twitter"></i></a>
              <a href="#"><i class="ion-social-googleplus"></i></a>
              <a href="#"><i class="ion-social-pinterest"></i></a>
              <a href="#"><i class="ion-social-linkedin"></i></a>
            </div>
            <div class="right-it">
              <h4>Tags</h4>
              <a href="#">Gray,</a>
              <a href="#">Film,</a>
              <a href="#">Poster</a>
            </div>
          </div>
