<header class="ht-header">
  <div class="container">
    <%= render 'partials/navbar' %>
  </div>
</header>
<div class="hero common-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1>Forgot your password ?</h1>
          <ul class="breadcumb">
            <li class="active"><a href="<%= home_movies_url %>">Home</a></li>
            <li> <span class="ion-ios-arrow-right"></span> Reset Password</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single">
  <div class="container">
    <%= render partial: 'new'%>
  </div>
</div>

