<div class="jumbotron">
  <div class="container">
    <h1>Welcome to IMDb !</h1>
    <h2>Home to the movies</h2>
    <p>Register to get started.</p>
    <p>
      <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
